/* -------------------------------- 

File#: _1_adv-gallery-v5
Title: Advanced Gallery v5
Descr: Advanced image gallery template
Usage: codyhouse.co/license

-------------------------------- */

.adv-gallery-v5 {}