/* -------------------------------- 

File#: _2_article-gallery
Title: Article Gallery
Descr: A gallery of blog articles
Usage: codyhouse.co/license

-------------------------------- */

.articles {
  position: relative;
  z-index: 1;
}