/* -------------------------------- 

File#: _4_interactive-table-card
Title: Interactive Table Card
Descr: Interactive table card for app UI
Usage: codyhouse.co/license

-------------------------------- */

