.hero-section{
    /*background-image: url('https://source.unsplash.com/collection/37167582/'); */
    height:100vh;

}

.hero-box{
    margin-top:20vh;

    border-radius: 20px;

    box-shadow: var(var(--shadow-md));
}

.hero-home{
    height: 100vh;
}


.intro{
    height: 100vh;
}

.quote{
    padding: 5vh 15vw;
    height: 100vh;
}

.home-form{
    margin-top: 10vh;
    padding: 50px;
    box-shadow: var(--shadow-xl);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.623);
}

.footer-item{
    color: white;
    font-size: 1rem;
}

.hidden{
    display: none;
}


.this-section{
    margin-bottom: 25vh;
    height: 50vh;
}

.banner-1{
    box-shadow: var(--shadow-lg);
    margin: 10vh 15vw;
}

.diamond{
    height: 100vh;
}

.the-next-one{
    height: 100vh;
}

.intro-box{
    border-radius: 20px;
    box-shadow: var(--shadow-lg);
    margin-top: 20vh;
}

.mega-nav__quick-link{
    color: white;
}

.quality-diamond{
    height: 100vh;
    padding-top:25vh ;
}


.responsiveness{
    margin: 20vh 0vw;
    height: 100vh;
}

.promises{
    margin: ovh 15vw;
}

.user-data-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin: 10vh 35vw;
}

.website-facts{
    margin-bottom: 10vh;
}

.testimonials{
    margin: 15vh 10vw;
    padding: 50px 50px;
    border-radius: 20px;
    box-shadow: var(--shadow-lg);

}

.blog-grid{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    padding: 10vh 15vw;
    margin: 5vh 10vw;
}

.blog-card{
    height: 1vh;
}

.author-card{
    box-shadow: var(--shadow-md);
    border-radius: 20px;
    padding: 20px;
}

.author-card-wrapper{
    margin-top:10vh;
}

.home-contact{
    margin: 10vh 15vw;
}

.nav-item{
    height: 200vh;
}

.crm-key-features{
    height: 100vh;
}

.crm-intro{
    height: 100vh;
}

.more-features{
    margin: 10vh 15vw;
}

.mail-intro{
    height: 100vh;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.email-key-features{
    margin-top: 10vh;
}



.turn-key-footer{
    margin-top: 10vh;
}

.turn-key-cta{
    box-shadow: var(--shadow-md);
    margin-top: 10vh;
}

.turn-key-sub-nav{
    box-shadow: var(--space-sm);
}

.turn-key-contact-me{
    margin: 0vh 15vw;
    margin-top: 10vh;
    
}

.seo-coming-soon{
    background-color: #1b1b1b;
}

.contact-me{
    margin-top: 50vh;
}

.web-intro{
    height: 100vh;

}

.video-hero-box{
    background-color: white; 
    border-radius: 20px; 
    padding: 50px; 
    box-shadow: var(--shadow-md); 
    margin-top: 15vh;
}

.web-sites-intro{
    height: 100vh;
}

.unique-af{
    padding: 20vh 20vw;
}

.texty-animaty{
    margin-top: 25vh;
    margin-left: 5vw;
}

.scroller{
    margin-top: 15vh;
    margin-bottom: 15vh;
}